{% extends "base.html" %}
{% block content %}

    <h1> WELCOME </h1>
    <!-- list with all organization posts--> 

    <h2>Volunteer roles</h2>
    <form action="/volunteerOpportunities ">
        <h2>New Post</h2>
        <p>Title:
            <input type="text" name="title" required>
        </p>
        <p>Photo file?:
            <input type="file" name="opp_photo"></input>
        </p>
        <!-- how can I add the date for a post? -->
        <p>Content:
            <textarea type="text" name="content" required> </textarea>
        </p>
        <p>
            <input type="submit" name="login" value="submit">
        </p>
  
    </form>



    <div class="container">
        <div class="form-group">
            <form action="/opportunities" method="POST">
                <h2>organization?</h2>
                <p>Name:
                    <input type="text" name="organization_name" required>
                </p>               
                <p>Profile Picture:
                    <input type="text" name="organization_photo">
                </p>
                <p>E-mail:
                    <input type="text" name="organization_email" required>
                </p>
        
                <p>Password:
                    <input type="password" name="organization_password" required>
                </p>
                <p>
                    <input type="submit" name="create-account" value="submit">
                </p>
            </form>
        </div>
        <div>

    



{% endblock content %}