{% extends "base.html" %}
{% block content %}

<h1>Volunteer Opportunities </h1>

<div class="container">
    <form action="/register_opportunity" method="POST" enctype="multipart/form-data">
        <h2> New volunteer opportunities</h2>
            <div>Title:
                <input type="text" name="title">
            </div>
            <textarea id="w3review" name="content" rows="4" cols="50"></textarea>
            <div class="form-group">
            <label for="exampleFormControlFile1">Photo</label>
            <input type="file" name="opp_photo" class="form-control-file" id="exampleFormControlFile1">
            <button type="submit" class="btn btn-primary">submit</button> 
            </div>

        
    </form>
</div>



{% endblock content %}