{% extends "base.html" %}
{% block content %}

<h1>Volunteer Opportunities </h1>

{% if 'organization_id' in session %}

<div class="container">
	<div class="row">
	    
	    <div class="col-md-8 col-md-offset-2">
	        
    		<h1>Create post</h1>
    		
    		<form class="submit-post" action="/new_post" method="POST" enctype="multipart/form-data">
    		    
    		    <div class="form-group has-error">
    		        <label for="title">Title</label>
    		        <input type="text" id="post-title" class="form-control" name="title" />
    		    </div>
    		    
    		    <div class="form-group">
    		        <label for="description">Description</label>
    		        <textarea rows="5" id="post-content" class="form-control" name="content" ></textarea>
    		    </div>
                <div class="form-group">
                    <label for="exampleFormControlFile1">Photo</label>
                    <input type="file" id = "post-photo" class="form-control-file" name="opp_photo" id="exampleFormControlFile1">
                </div>
    		    
    		    <div class="form-group">
    		        <button type="submit" class="btn btn-primary">
    		            Create
    		        </button>
    		        <button class="btn btn-default">
    		            Cancel
    		        </button>
    		    </div>
    		    
    		</form>
		</div>
		
	</div>
</div>




{% endif %}

{% for opp in volunteer_opps %}

    <h2>{{opp.title}}</h2>
    <p>{{opp.content}}</p>
	{% if opp.opp_photo %}

		<img src="{{opp.opp_photo}}" alt="volunteer_opp_photo">
		
	{% endif %}
    <p>{{opp.date_posted}}</p>
    <p>{{opp.organizations.organization_name}}</p>

{% endfor %}






{% endblock content %}